<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">
          <ng-container *ngFor="let s of stars">⭐️</ng-container>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <!--
      TODO: Rector me!

      1. Keine Logik im Template
      2. Separation of Concerns einhalten
      3. Immutability einhalten

    -->

    <button class="btn btn-primary me-2" (click)="book.rating = book.rating - 1">-</button>
    <button class="btn btn-primary" (click)="book.rating = book.rating + 1">+</button>
  </div>
</div>
